* {
  box-sizing: border-box;
}

#question {
  font-weight: bold;
}

main.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.question-container {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
}

#question-id {
  color: rgba(255, 255, 255, 0.604);
}

.question-card {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
}

#next-button-container {
  padding: 12px 0;
}

.singleOption {
  display: flex;
  padding: 12px 12px;
  margin: 8px 0;
  border-radius: 12px;
}

.singleOption:hover {
  background-color: aquamarine;
  cursor: pointer;

}

.singleOption.error {
  background-color: red;
}

.singleOption.correct {
  background-color: green;
}

.disable-hover {
  pointer-events: none;
}

#card-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  // align-content: flex-start;
  justify-content: flex-start;
  padding: 8px
}

.card-link {
  flex-basis: 36px;
  flex-shrink: 0;
  flex-grow: 0;
  height: 36px;
  margin: calc((100% - (36px * 8)) / 16);
  // margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: blue;
}

button.disabled {
  background-color: grey;
  pointer-events: none;
  border: 0;
}

.nav-link.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  flex-shrink: 0;
}

.card-link:hover {
  background-color: grey;
}

.card-link.current {
  background-color: azure;
}

.card-link.answered-correct {
  background-color: green;
}

.card-link.answered-wrong {
  background-color: transparent;
  border: 2px solid red;
  border-radius: 80px;
}

header {
  padding: 8px;
}

.tab-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.081);
}

.tab {
  height: 48px;
}

.tab:hover {
  background-color: grey;
}

.tab.active {
  border-bottom: 4px solid blue;
}

.group-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 20%;
  flex-shrink: 0;
}

h2 {
  padding: 12px 16px;
  margin: 0px;
}